.notification-items {
    font-family: sans-serif
}

.root-notification {
    border:red dotted 3px;
    padding: 0 1 rem;
}



ul li[data-priority="default"] {
    color: blue;
}

ul li[data-priority="urgent"] {
    color: red;
}

button {
    font-weight: bold;
}



[aria-label="Close"] {
    border: none;
    top: 1rem;
    right: 1rem;
    background: transparent;
    cursor: pointer;
    position: absolute;
    padding: 0;
}

label {
    margin-right: 1rem;
}

input {
    margin-right: 1rem;
}