@import 'tailwindcss';

@theme {
  --font-sans: "Roboto", ui-sans-serif, system-ui, sans-serif;
  --color-table-header: #deb5b5;
  --color-table-rows: #CDCDCD;
  --main-color: #e1003c;
  --default-notification-item: blue;
  --urgent-notification-item: red;
}

@layer base {
  :root {
    --main-color: #e1003c;
    --default-notification-item: blue;
    --urgent-notification-item: red;
  }
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
